# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\_ProgramingCenter\StudiaMagisterskiePK\S_1\ZTP_CW\Cw_2-Rest\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
